h1 {
  font-family: "Unica One", sans-serif;
  color: #fff;
  bottom: 350px;
  left: 50px;
  z-index: 10;
  max-width: 340px;
  animation: eye 1s linear forwards;
  opacity: 0;
}

#narwhal-body {
  animation: body 2s linear forwards;
  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
}

#narwhal-eye {
  animation: eye 1s 1.5s linear forwards;
  opacity: 0;
}
